.blog-container{
    padding: 70px 150px;
    align-items: center;
    text-align: center;
}
.blog-layer{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}
.blog-description > h3{
    margin-bottom: -10px;
    font-size: 17px;
    font-weight: 600;
    color: #fb9315;
}
.blog-card{
    position: relative;
    padding: 0px;
    width: 300px;
}
.blog-img{
   width: 100%;
  height: 350px;
  object-fit: cover;
}
.blog-badge{
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: white;
    border-radius: 3px;
    padding: 3px 5px;
    cursor: pointer;
    font-size: 13px;
    font-weight: 450;
}
.blog-badge:hover{
    opacity: 0.5;
    transition: all 250ms cubic-bezier(0.025, 0.46, 0.45, 0.94) 0s;
}
.blog-text{
    text-align: left;
    display: flex;
    justify-content: space-between;
   align-items: center;
   color: #666666;
   font-size: 13px;
}
.span-logo{
       align-items: center;
    display: flex;
}
.span-logo > span{
    margin-left: 13px;
 
}
.span-logo > span:hover{
  
    opacity: 0.5;
    transition: all 250ms cubic-bezier(0.025, 0.46, 0.45, 0.94) 0s;
    cursor: pointer;
}
.blog-span > p{
    font-size: 13px;
}
.blog-span{
    text-align: left !important;
}
.read-more{
    font-size: 14px;
    font-weight: 650;
    cursor: pointer;
    align-items: center;
    display: flex;

}
.read-more:hover{
    color: green;
    opacity: 0.5;
    transition: all 250ms cubic-bezier(0.025, 0.46, 0.45, 0.94) 0s;
 
}

.blog-logo{
text-align: left;
display: flex;
justify-content: space-between;
margin-top: 30px;
}
.blog-logo > img {
    width: 100px;
}
@media screen and (width: 1024px){
    .blog-container{
        padding: 50px;
        width: 924px !important;
    }
.blog-description > h3{
    font-size: 30px;
}
.blog-layer{
    align-items: center;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}
.blog-card{
    width: 400px;
}
}
@media screen and (min-width: 768px) and (max-width:912px){
    .blog-layer{
        display: grid;
        gap: 40px;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}
@media screen and (width: 820px){
.blog-container{
    padding: 50px;
}

}

@media screen and (max-width: 768px){
.blog-container{
    padding: 40px 50px;
}
.blog-layer{
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}
.blog-logo > img{
    width: 80px;
}
.blog-description > h3{
    font-size: 30px;
}
}
@media screen and (max-width: 576px){
    .blog-container{
        padding: 70px 10px 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .blog-layer{
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: 55px;
        align-items: center;
    }
    .blog-card{
        width: 400px;
    }
    .blog-description > h1{
    white-space: nowrap;
    }
    .blog-logo > img{
        width: 70px;
    }
}

@media (width:430px){
    .blog-layer, .blog-logo{
        margin-left: 55px;
    }
}
@media(max-width: 420px){
.blog-container{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.blog-layer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
}

@media(max-width: 360px){
.blog-content{
    width: 330px;
}
.blog-description{
    width: 330px;
}
.blog-layer{
    width: 330px;
}
.blog-card{
    width: 330px;
}
}

@media (max-width: 390px) {
    .blog-container {
      width: 370px;
      padding: 50px 10px;
    }
  
    .blog-content{
      width: 370px;
    }
    .blog-card{
        width: 350px;
    }
}

@media (max-width: 375px) {
    .blog-container {
      width: 355px;
    }
  
    .blog-content{
      width: 330px;
    }
    .blog-card{
        width: 330px;
    }
}