.about-container{
    padding: 50px 50px 0px;
    margin-bottom: 220px;

}
.about-content{
    display: flex;
    justify-content: space-between;
    
}
.about-cta{
    font-size: 14px;
    font-weight: 600;
    color: #fb9315;
    background-color: #fee3c1;
    border-radius: 5px;
    padding: 6px 10px;
    border: 1px solid #fb9315;
    cursor: pointer;
}
.about-cta:hover{
color: #fee3c1;
background-color: #fb9315;
transition: all 550ms cubic-bezier(0.025, 0.46, 0.45, 0.94) 0s;
}
.layer{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.layer > h1{
letter-spacing: 1.1px;
margin-bottom: 0px;
padding-bottom: 0px;
white-space: nowrap;
}
.layer-img{
    width: 850px;
    position: absolute;
}
.about-description >p{
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 400;
    color: #666666;
    width: 500px;
}
.selection-content{
    display: flex;
    position: relative;
    flex-direction: column;
    width: 500px;
    gap: 10px;
    box-shadow: -3px 10px 34px -10px rgba(0,0,0,0.36);
   -webkit-box-shadow: -3px 10px 34px -10px rgba(0,0,0,0.36);
   -moz-box-shadow: -3px 10px 34px -10px rgba(0,0,0,0.36);
}
.cta-btn{
    color: #666666;
    font-size: 12px;
    position: absolute;
    right: 25px;
    top: 40px;
}
.selection-text{
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: 400;
    align-items: center;
    padding: 15px 20px;
}
.selection-text1{
    background-color: white;
    box-shadow: -8px 10px 5px -7px rgba(102,102,102,0.15);
    -webkit-box-shadow: -8px 10px 5px -7px rgba(102,102,102,0.15);
    -moz-box-shadow: -8px 10px 5px -7px rgba(102,102,102,0.15);
    color: black;
    font-size: 20px;
    font-weight: 400;
    align-items: center;
    padding: 15px 20px;
    margin-bottom: 0px;
}
.selection-content >p{
    display: flex;
    color: #666666;
    align-items: center;
    padding: 0px 30px;
  
}
.about-cta2{
    background-color:#f1ad10 ;
    text-align: center;
    border-radius: 0px 8px 8px 8px;
    padding: 7px 25px;
    font-weight: 500;
    font-size: 12px;
    margin-right: 25px;
    margin-top: 35px;
    cursor: pointer;
    width: 70px;
    white-space: nowrap;
}
.about-cta2 :hover{
    opacity: 0.5;
    transition: all 250ms cubic-bezier(0.025, 0.46, 0.45, 0.94) 0s;
    color: black;
}

@media (max-width : 1235px){ 
    .about-container{
        padding: 50px 20px 0px;
        display: flex;
        align-items: center;
        
    }
    .about-content{
        gap: 120px;
    }
    .about-description {
        width: 400px;
    }
    .about-description p{
        width: 400px;
    }
    .selection{
        width: 200px;
        
    }
}

@media(width: 1024px){
    .about-container{
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
}


@media(max-width: 992px){
}
.about-container{
    padding: 50px 20px 0px;
    
}
.about-description{
    width: 600px;
}

.about-content{
    gap: 50px;
}
@media screen and (min-width: 768px){
    
    .about-container{
        padding: 80px 50px 20px;
        margin-left: 60px;
        margin-bottom: 0px;
    }
    .about-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 300px;
        
    }
    .layer-img{
        width: 600px;
        margin-top: 190px;
    }
    .about-cta{
        padding: 12px 20px;
        margin-left: 17px;
    }
    .about-cta2{
        padding: 15px 25px;
        font-size: 15px;
    }
    .about-description{
        margin-top: 170px;
    }
}


@media (max-width: 768px){
.about-container{
        padding: 50px 50px 0px ;
        margin-bottom: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 50px;
    }
.about-content{
    display: flex;
    flex-direction: column;
    width: 600px;
    gap: 40px;
}
.layer-img{
    width: 520px; 
    margin-top: 170px;
}
.about-description{
    margin-top: 360px;
    width: 550px;
}
.selection-content{
    width: 550px;
}
.about-cta{
    padding: 12px 20px;
    margin-left: 17px;
}
.about-cta2{
    padding: 15px 25px;
    font-size: 15px;
}
}
@media(max-width: 550px){
     .about-container{
        padding: 40px !important;
        
     }
     .about-cta{
        padding: 12px 20px;
        margin-left: 17px;
    }
    .about-cta2{
        padding: 15px 25px;
        font-size: 15px;
    }
    .layer h1{
        margin-left: 0px;
        font-size: 25px;
        width: 350px;
        }
    .about-content{
       width: 400px;
       gap: 30px;
      
    }
    .selection-content > p{
        width: 300px;
    }
    .layer-img{
        width: 400px;
        left: 10px;
        align-items: center;
    }
    .about-description{
       margin-top: 280px;
       width: 400px;
       padding:5px -10px !important;
    }
    .about-description > p{
    width: 400px;
    margin-bottom: 10px;
    }
    .selection-content{
       width: 400px;
    }
    .layer > h1{
        font-size: 30px;
    }
}


@media(max-width: 420px){
    .about-container{
        padding:50px 10px !important;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center !important;
        width: 320px !important;
        margin-bottom: 20px;
    }
 
.about-description{
    display: flex;
    flex-direction: column;
    align-items: center !important;
    margin-top: 260px;
    margin-left: 30px;
}
.about-description p{
    width: 300px;
}
.selection{
display: flex;
flex-direction: column;
align-items: center;
}
.selection-content{
    width: 350px;
    text-align: left;
}
.layer{
    margin-bottom: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.layer h1{
margin-left: 50px;
font-size: 25px;
}
.layer-img{
    /* width: 600px; */
    width: 350px !important;
    left: 55px;
    margin-bottom: 90px;
}
.about-cta{
    padding: 12px 20px;
    margin-left: 17px;
}
.about-cta2{
    padding: 15px 25px;
    font-size: 15px;
}
}

