@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.aboutx-container{
    padding: 100px;
}
.about-slider-content, .aboutx-content{
    margin-bottom: 50px;
}
.aboutx-content{
    display: flex;
    gap: 50px;
}
.aboutx-description{
    display: flex;
    flex-direction: column;
    width: 1500px;
    justify-content: center;
}

.aboutx-span{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.aboutx-card{
    display: flex;
    justify-content: center;
}
.aboutx-description > h1{
    padding-bottom: 40px;
    font-weight: 1000;
    font-size: 40px;
    color: #137335;
    text-align: center;
    margin-bottom: 0px;
}
.aboutx-description > p {
    color: #666666;
    line-height: 2.0;
    text-align: left;
    width: 100%;
    margin-bottom: 30px;
}
.logo-con{
    font-size: 200px;
    color: white;
    padding: 0px 20px;
    height: 110px;
    margin-right: 35px;
    border-radius: 20px;
    background-color:#137335;
}
.aboutx-con > p{
    color: #666666;
    font-family: 14px;
}
.aboutx-con >h3{
    font-size: 25px;
}

@media screen and (max-width : 1235px){ 
    .aboutx-container{
        padding: 50px 100px;
    }

    .about-slider-container{
        grid-template-columns: repeat(2, minmax(0,1fr));
        gap: 20px;
}
}

@media screen and (width : 1024px){ 
   .aboutx-container{
    width: 1200px;
   }
    .aboutx-content{
        width: 100%;
    }

}
/* 
@media(width: 1024px){
    .aboutx-container{
        padding-top: 500px;
        margin-top: 100px;
    }
} */
@media screen and (max-width : 992px){ 

    .about-slider-content{
        width: 250px;
    }
}

@media screen and (min-width: 768px){
.aboutx-container{
    padding: 50px;
    padding-top :200px;
}
}



@media screen and (max-width : 768px){ 
    .aboutx-container{
        padding: 100px 50px;
    }
    .aboutx-content{
        display: flex;
        flex-direction: column;

    
    }
.aboutx-description{
    width: 700px;
}
}
@media screen and (max-width : 576px){ 

    .aboutx-container{
        padding:100px 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .about-content{
        width: 350px;
    }
    .aboutx-description{
        width: 100%;
    }

.aboutx-container > p{
    width: 350px;
    margin-bottom: 20px;
}

}
@media (width:430px){
    .aboutx-content{
        margin-left: 100px;
    }
}

@media(max-width: 420px){
.aboutx-container{
    padding: 10px;
}
.aboutx-content{
    margin-top: 100px;
}
.aboutx-description{
    width: 380px;
}
.aboutx-description> h1{
    white-space: nowrap;
    font-size: 34px;
}
}


@media(max-width: 360px){
    .aboutx-content{
        width: 330px;
    }
    .aboutx-card{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 30px;
        text-align: center;
    }
    .logo-con{
        padding: 0px;
    }
}