.cleaning-container{
    padding: 50px;
    align-items: center;
    text-align: center;
 }
 .cleaning-description > h3{
    font-size: 20px;
    color:#fb9315 ;
 }
.cleaning-layer{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 20px;
    justify-content: center;
}
.card{
    box-shadow: 7px 10px 5px -2px rgba(102,102,102,0.17);
-webkit-box-shadow: 7px 10px 5px -2px rgba(102,102,102,0.17);
-moz-box-shadow: 7px 10px 5px -2px rgba(102,102,102,0.17);
border-radius: 10px;
padding: 10px 20px;
}
.card-list > p{
    font-size: 13px;
    color: #666666;
}
.card-list h2{
  text-transform: uppercase;
  white-space: nowrap;
}
.black{
    background-color: black;
    color: white !important;
    padding: 20px 50px !important;
    text-align: left;
}
.black-text{
   font-size: 20px;
}
.black-text > span{
   font-weight: 100 !important;
   font-size: 18px;
}
.size{
  font-size: 40px;
}

@media(width: 1024px){
  .cleaning-container{
    
    padding: 50px;
    width: 924px !important;
  }
  .card-list > h2{
    font-size: 28px;
    font-weight: 700;
    white-space: wrap;
  }
  .cleaning-description > h3{
    font-size: 30px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 768px) and (max-width:912px){
    .card-list > h2{
      font-size: 18px;
    }
}
@media screen and (width: 820px){
  .cleaning-container{
    padding: 50px;
  }
  .card-list > h2{
    font-size: 25px;
    font-weight: 700;
    white-space: wrap;
  }
  .cleaning-description > h3{
    font-size: 30px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  
}
@media screen and (max-width: 768px) {
  .cleaning-container{
    padding: 50px 100px;
  }
  .cleaning-description > h3{
    font-size: 30px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
    .cleaning-layer{
    grid-template-columns: repeat(1, minmax(0,1fr));
    gap: 40px;
  }
  .card-list > h2{
    font-size: 28px;
    font-weight: 700;
  }
}
@media screen and (max-width: 576px){
.cleaning-container{
    padding:20px 10px;
}
.cleaning-description > h3{
  font-size: 30px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.cleaning-layer{
  margin-top: 50px;
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 35px;
}
.card-list > h2{
  font-size: 28px;
  font-weight: 700;
}
}
@media (max-width: 390px) {
.cleaning-container{
  width: 380px;
}
 .card-list > h2{
  white-space: wrap;
 }
}
@media (width:430px){
  .cleaning-description{
    margin-left: 90px;
  }
  .card{
    margin-right: 60px;
  }
}
@media(max-width: 420px){ 
  .cleaning-container{
    width: 392px !important;
  }
  .cleaning-layer{
    width: 350px !important;
   margin-left: 10px;
  }

}

@media (max-width: 375px) {
  .cleaning-container {
    width: 355px !important;
  }

  .cleaning-content{
    width: 350px;
  }
  .cleaning-layer{
    margin-left: 0px;
  }
}
@media (max-width: 360px) {
  .cleaning-container{
    width: 370px !important;
    padding: 10px 10px !important;
 
  }

  }