.footer-container{
    padding: 40px 100px;
    background-color: black;
    color: white;
}
.top-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #666666;
    padding-bottom: 20px;
    margin-bottom: 30px;
}
.top-section-description{
    width: 400px;
}
.top-section-description >p{
    color: #666666;
    font-size: 13px;
}

.footer-input> input{
    padding: 8px 18px;
    border: none;
    border-radius: 3px 0px 0px 3px;
}
.footer-input > input:hover{
    border: none;
}
.footer-input> button{
    padding: 8px 14px;
    border: none;
    border-radius: 0px 3px 3px 0px;
    font-weight: 500;
    background-color: #fb9315;
}
.footer-input button:hover{
    opacity: 0.5;
    transition: all 250ms cubic-bezier(0.025, 0.46, 0.45, 0.94) 0s;
}
.footer-layer{
    display: flex;
    justify-content: space-between;
}
.footerA >p{
    width: 400px;
    margin-bottom: 60px !important;
}
.footerA >p ,.footerB >p, .footerC >p, .footerD >p{
    color: #666666;
   
    font-size: 13px;
}
.footer-cta{
    display: flex;
    gap: 15px;
}
.footer-last{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    border-radius: 7px;
    background-color: #131313;
}

.footer-last > span{
    display: flex;
    gap: 12px;
}
@media screen and (max-width: 1235px){
    .footer-container{
        padding: 40px;
    }}

@media screen and (max-width: 768px){
    .footer-container{
        padding: 40px 80px;
    }
    .top-section-description{
        width: 270px;
    }
    .top-section-description >h2{
    white-space: nowrap;
    font-size: 20px;
    }
    .footerA{
        width: 200px;
    }
    .footerA > p{
        width: 200px;
    }

}

@media screen and (width: 1024px){
    .footer-container{
        width: 1200px;
        padding: 50px;
    }
    .footer-input > button{
        padding: 15px 14px;
    }
    .footer-input > input{
        padding: 15px 18px;
    }
    .top-section-description > h2{
        font-size: 25px;
    }
}
@media screen and (max-width: 992px){
    .footer-container{
        padding: 50px;
    }
}
@media screen and (min-width: 768px) and (max-width:912px){
    .premium{
        width: 200px !important;
    }
}
@media screen and (width: 820px){
.footer-container{
    padding: 25px;
}

.footer-input > button{
    padding: 15px 14px;
}
.footer-input > input{
    padding: 15px 18px;
}
.top-section-description > h2{
    font-size: 25px;
}
}

@media screen and (max-width: 768px){
    .footer-container{
        padding:50px 120px;
    }
    .footerB, .footerD{
        text-align: center;
    }
    .top-section{
        display: flex;
        gap: 20px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
.footer-layer{
   display: grid;
   grid-template-columns: repeat(2,minmax(0, 1fr));
   align-items: center;
   justify-content: center;
    }
    .footer-input > button{
        padding: 15px 14px;
    }
    .footer-input > input{
        padding: 15px 18px;
    }
    .top-section-description > h2{
        font-size: 25px;

    }
}
@media screen and (max-width: 550px){
    .footer-container{
        padding: 50px;
    }
    .footer-input > button{
        padding: 15px 14px;
    }
    .footer-input > input{
        padding: 15px 18px;
    }
    .top-section-description > h2{
        font-size: 25px;
    }
}

@media (width:430px){
    .footer-container{
        width: 450px;
    }
}
@media(max-width: 420px){
.footer-container{
    padding: 10px;
}
.footer-input > button{
    padding: 15px 14px;
}
.footer-input > input{
    padding: 15px 18px;
}
.saint{
    margin-top: 50px;
}
.bottom-section{
    margin-left: 15px;
    margin-bottom: 30px;
}
.footer-last > span {
    display: flex;
    flex-direction: column;
}
.aimer > h4{
    margin: 0px;
}
}

@media(max-width: 360px){
    .footer-container{
        width: 380px;
    }
}